<html>
  <head>
    <title>Failed to Login</title>
    <style type="text/css" media="screen">
      body {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        padding: 20px;
        box-sizing: border-box;
      }

      .icon {
        margin: 150px 0 20px 0;
        color: #D63C3E;
        font-size: 100px;
      }

      h1 {
        color: black;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 0;
      }

      h2 {
        color: #BCC3C5;
        font-weight: 500;
        font-size: 26px;
        margin: 10px 0 30px 0;
      }

      a {
        font-size: 16px;
        text-transform: capitalize;
        display: inline-block;
        padding: 15px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: white;
        text-align: center;
        background: #516FF7;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        box-shadow: 0px 2px 2px rgba(82, 100, 133, 0.1);
        border-radius: 5px;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <span class="icon fas fa-exclamation-triangle"></span>
    <h1>Failed to Login</h1>
    <h2>Doppler is experiencing an issue, please try again...</h2>
    <a href="https://doppler.com/workplace/cli/auth?port=<%= port %>">Retry Login</a>
  </body>
</html>