<html>
  <head>
    <title>Login Successful</title>
    <style type="text/css" media="screen">
      body {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        padding: 20px;
        box-sizing: border-box;
      }

      .icon {
        margin: 150px 0 20px 0;
        color: #75D78C;
        font-size: 100px;
      }

      h1 {
        color: black;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 0;
      }

      h2 {
        color: #BCC3C5;
        font-weight: 500;
        font-size: 26px;
        margin-top: 10px;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <span class="icon fas fa-check-circle"></span>
    <h1>Login Successful</h1>
    <h2>Head back to your terminal to complete the setup...</h2>
  </body>
</html>