<html>
  <head>
    <title>Failed to Login</title>
    <style type="text/css" media="screen">
      body {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        padding: 20px;
        box-sizing: border-box;
      }

      .icon {
        margin: 150px 0 20px 0;
        color: #D63C3E;
        font-size: 100px;
      }

      h1 {
        color: black;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 0;
      }

      h2 {
        color: #BCC3C5;
        font-weight: 500;
        font-size: 26px;
        margin: 10px 0 30px 0;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <span class="icon fas fa-exclamation-triangle"></span>
    <h1>Unauthorized Origin</h1>
    <h2>The origin <strong><%= origin %></strong> is not allowed...</h2>
  </body>
</html>